.heading {
    text-align: center; 
    color:#5eaaa8;
    padding: 10px;
    margin-left: 500px;

}
.h1{
    margin-right: 650px;

}



.col-lg-4{
    margin-top: 30px;

}



.card{
    border:#eff7e1 3px solid;
   
}
.card-title {
color:#fed049;
text-align: left;
}
.card-text{
    color:grey;
text-align: left;

}

#table{
    margin-bottom: 400px;

}
td {
    padding: 10px;
}


#tableBtn{
    margin-left: 1200px;
    

}

.btns{
    margin-left: 100px;
}


#footer {
    display: grid;
    width: 100%;
    background-color:#a3d2ca ;
}
.col-sm{
margin-left: 40px;
color:#838383;
}
.row {
    padding: 50px;
}


.logo{
    width: 20%;
    background-color:#a3d2ca;
    display: block;
    padding: 10px;

} 
 

.container{
    width: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background-color:#fed049;
   }
   .wrapper {
   padding-top: 120px;
   }
   .navbar-brand{
       color:#a3ddcb;
   }
   .card-img-top {
   box-shadow: 0 5px 10px rgba(0,0,0,0.5);
   }
   .card-body{
       text-align: center;
       box-shadow: 0px 15px 15px -8px rgba(0,0,0,0.5)
   }
   .card-body h6 {
   font-size: 14px;
   text-transform: uppercase;
   
   }
   .card-title {
   text-transform: uppercase;
   font-weight: bold;
   font-size: 24px;
   }
   
   .socials a {
   width: 40px;
   height: 40px;
   display: inline-block;
   border-radius: 50%;
   margin: 0 5px;
   }
   .socials a i {
   color: #fff;
   padding: 12px 0;
   }    
   
   .socials a:nth-child(1) {
   background: #3b5998;
   }.socials a:nth-child(2) {
   background: #ff0000;
   }.socials a:nth-child(3) {
   background: #007bb5;
   }.socials a:nth-child(4) {
   background: #ea4c89;
   }
   
   @media (max-width: 800px){
       .mx-30{
           margin-bottom: 30px;
       }
   }
   